h1 {
  font-size: 5em;
  text-align: center;
}

/* h2 {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
} */
#recipe-title {
  text-align: center;
  text-decoration: underline;
}

header {
  margin-top: 5em;
}

.container {
  display: flex;
}

.menu-details {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 40px;
}

#results-and-favorites {
  display: flex;
}

#dish-image {
  width: 31%;
}
#dish-image img {
  width: 300px;
  height: 275px;
  border-radius: 50px;
}

#dish-name {
  width: 31%;
}
#dish-recipe {
  width: 31%;
}

#search-results {
  width: 50%;
}

#favorites {
  width: 50%;
}

nav {
  width: 25%;
}

nav li:hover {
  color: #ab7e02;
}

hr {
  color: black;
  height: 2px;
  background: black;
}
#form-container {
  display: flex;
  justify-content: center;
}
